doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap-table/dist/bootstrap-table.min.css')
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a(href="/").navbar-brand Home
          a(href="/show_all").navbar-brand Show table
          a(href="/load_csv").navbar-brand Load Csv
    block content
